nav{
    display: flex;
}
nav>a{
    margin: 10px;
    margin-right: 11px;
}

.kommentarer{
    display: flex;
    flex-direction: row;
    margin: 25px;
    margin-bottom: 50px;
}

#delete_button{
    display: inline-block;
    margin-left: 10px;
}